extends ../_template.pug

block content
    .wrapper
        .container
            +hero-pages('Блог', 'Статьи которые я написал')
            section.blog.js-section
                +triangle-left('blog-triangle')
                +triangle-right('blog-triangle')
                .main-container#blog
                    .blog__titles
                        ul.blog__titles__list
                            li.blog__titles__list__item Самое важное в SASS
                            li.blog__titles__list__item Приёмы в вёрстке, без которых не обходится ни один сайт
                            li.blog__titles__list__item Самый необходимый набор Gulp плагинов
                            li.blog__titles__list__item Почему я выбрал Jade
                    ul.blog__content
                        li.blog__content__item
                            .blog__content__item__title Самое важное в SASS
                            .blog__content__item__date 11 августа 2018
                            .blog__content__item__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img(src="./assets/images/blog-pic-1.jpg", alt="").blog__content__item__pic
                        li.blog__content__item
                            .blog__content__item__title Приёмы в вёрстке, без которых не обходится ни один сайт
                            .blog__content__item__date 22 августа 2018
                            .blog__content__item__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li.blog__content__item
                            .blog__content__item__title Самый необходимый набор Gulp плагинов
                            .blog__content__item__date 15 сентября 2018
                            .blog__content__item__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                            img(src="./assets/images/blog-pic-1.jpg", alt="").blog__content__item__pic
                        li.blog__content__item
                            .blog__content__item__title Почему я выбрал Jade
                            .blog__content__item__date 4 октября 2018
                            .blog__content__item__text Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия. Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.                        
        +footer()
    script(src="./assets/js/blog.js")
