mixin hamburger-navigation()
    .hamburger-navigation.js-navigation <!--.active-->
        nav.hamburger-navigation-nav
            ul.hamburger-navigation__list
                li.navigation__list__item
                    a.navigation-link(href="./works.html") Мои работы
                li.navigation__list__item
                    a.navigation-link(href="./about.html") Обо мне
                li.navigation__list__item
                    a.navigation-link(href="./blog.html") Блог
                li.navigation__list__item
                    a.navigation-link(href="./index.html") Авторизация